@font-face{
  font-family: 'Source Code Pro';
  src: url('assets/fonts/SourceCodePro-Regular.ttf.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Source Code Pro Light';
  src: url('assets/fonts/SourceCodePro-Light.ttf.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Source Code Pro Semibold';
  src: url('assets/fonts/SourceCodePro-Semibold.ttf.woff2') format('woff2');
  font-weight: 800;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#TK {
  width: 24px;
  height: 24px;
  margin: 7px 12px 5px 4px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  float: left;
  }

  #TK.Ba3tsRSip58gUmpmFtX7RThp9cBZp2CspcT4HPvMDftq {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_krm.png');
  }

  #TK.GAS1Y7ebKcFwMsA4RyXJQnm5Yb47PiQLJGoxqTRe1zph {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_krm.png');
  }

  #TK.CHFpt2LFVWvbKYLRfpH3ZEHnR23oVh5vhGNWtVqett8K {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_krm.png');
  }

  #TK.\38 nXc1sEGK7vNrNEetqxwZgm2KQhtB2RNAtmYv7yDAED7 {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_krm.png');
  }

  #TK.\39 wFFyRfZBsuAha4YcuxcXLKwMxJR43S7fPfQLusDBzvT {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_sol.png');
  }

  #TK.HWHvQhFmJB3NUcu1aihKmrKegfVxBEHzwVX6yZCKEsi1 {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_sol.png');
  }

  #TK.ByRys5tuUWDgL73G8JBAEfkdFf8JWBzPBDHsBVQ5vbQA {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_srm.png');
  }

  #TK.AtNnsY1AyRERWJ8xCskfz38YdvruWVJQUVXgScC1iPb {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_srm.png');
  }

  #TK.jyei9Fpj2GtHLDDGgcuhDacxYLLiSyxU4TY7KxB2xai {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_srm.png');
  }

  #TK.E14BKBhDWD4EuTkWj1ooZezesGxMW8LPCps4W5PuzZJo {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_fida.png');
  }

  #TK.EbV7pPpEvheLizuYX3gUCvWM8iySbSRAhu2mQ5Vz2Mxf {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_fida.png');
  }

  #TK.\33 d4rzwpy9iGdCZvgxcu7B1YocYffVLsQXPXkBZKt2zLc {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_mngo.png');
  }

  #TK.\32 xiv8A5xrJ7RnGdxXB42uFEkYHJjszEhaJyKKt4WaLep {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_ray.png');
  }

  #TK.teE55QrL4a4QSfydR9dnHF97jgCfptpuigbb53Lo95g {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_ray.png');
  }

  #TK.C6tp2RVZnxBPFbnAsfTjis8BN9tycESAT4SgDQgbbrsA {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_ray.png');
  }

  #TK.\36 jx6aoNFbmorwyncVP5V5ESKfuFc9oUYebob1iF6tgN4 {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_ray.png');
  }

  #TK.Cm4MmknScg7qbKqytb1mM92xgDxv3TNXos4tKbBqTDy7 {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_ray.png');
  }

  #TK.DYfigimKWc5VhavR4moPBibx9sMcWYVSjVdWvPztBPTa {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_dxl.png');
  }

  #TK.\38 GufnKq7YnXKhnB3WNhgy5PzU9uvHbaaRrZWQK6ixPxW {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_tulip.png');
  }

  #TK.GXde1EjpxVV5fzhHJcZqdLmsA3zmaChGFstZMjWsgKW7 {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_tulip.png');
  }

  #TK.A8YFbxQYFVqKZaoYJLLUVcQiWP7G2MeEgW5wsAQgMvFw {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_btc.png');
  }

  #TK.HfsedaWauvDaLPm6rwgMc6D5QRmhr8siqGtS6tf2wthU {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_btc.png');
  }

  #TK.HvanEnuruBXBPJymSLr9EmsFUnZcbY97B7RBwZAmfcax {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_btc.png');
  }

  #TK.\34 tSvZvnbyzHXLMTiFonMyxZoHmFqau1XArcRCVHLZ5gX {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_eth.png');
  }

  #TK.\37 gtMZphDnZre32WfedWnDLhYYWJ2av1CCn1RES5g8QUf {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_eth.png');
  }

  #TK.\33 zzTxtDCt9PimwzGrgWJEbxZfSLetDMkdYegPanGNpMf {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_bnb.png');
  }

  #TK.HBTu8hNaoT3VyiSSzJYa8jwt9sDGKtJviSwFa11iXdmE {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_luna.png');
  }

  #TK.\32 Pbh1CvRVku1TgewMfycemghf6sU9EyuFDcNXqvRmSxc {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_ftt.png');
  }

  #TK.CDvQqnMrt9rmjAxGGE6GTPUdzLpEhgNuNZ1tWAvPsF3W {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_ftt.png');
  }

  #TK.Ec1aq54XKH9o5fe169cU2sCcxxTP54eeQCe77SpizKuc {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_usdt.png');
  }

  #TK.\37 GSn6KQRasgPQCHwCbuDjDCsyZ3cxVHKWFmBXzJUUW8P {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_mana.png');
  }

  #TK.\33 FE2g3cadTJjN3C7gNRavwnv7Yh9Midq7h9KgTVUE7tR {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_sand.png');
  }

  #TK.HZCheduA4nsSuQpVww1TiyKZpXSAitqaXxjBD2ymg22X {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_axset.png');
  }

  #TK.Eg8a9ZicLPSyak4CiXfiMeJK6jmHq57Xx5ag5GY6vcDj {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_chicks.png');
  }

  #TK.A1Q9iJDVVS8Wsswr9ajeZugmj64bQVCYLZQLra2TMBMo {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_sushi.png');
  }

  #TK.FGYAizUhNEC9GBmj3UyxdiRWmGjR3TfzMq2dznwYnjtH {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_sushi.png');
  }

  #TK.B7b5rjQuqQCuGqmUBWmcCTqaL3Z1462mo4NArqty6QFR {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_uni.png');
  }

  #TK.Er7Jp4PADPVHifykFwbVoHdkL1RtZSsx9zGJrPJTrCgW {
    background-image: url('https://raw.githubusercontent.com/keramostech/keradex/main/src/assets/token/DEX_shib.png');
  }
